<p id="notice"><%= notice %></p>

<p>
  <b>Role name:</b>
  <%= @role.role_name %>
</p>

<p>
  <b>Role description:</b>
  <%= @role.role_description %>
</p>

<p>
  <b>Is active:</b>
  <%= @role.is_active %>
</p>


<%= link_to 'Edit', edit_role_path(@role) %> |
<%= link_to 'Back', roles_path %>
